/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project exclude paths
/node_modules.bak/@babel/compat-data/node_modules/
/node_modules.bak/@babel/core/node_modules/
/node_modules.bak/@babel/generator/node_modules/
/node_modules.bak/@babel/helper-compilation-targets/node_modules/
/node_modules.bak/@babel/plugin-transform-runtime/node_modules/
/node_modules.bak/@babel/preset-env/node_modules/
/node_modules.bak/@babel/template/node_modules/
/node_modules.bak/@babel/traverse/node_modules/
/node_modules.bak/@vue/component-compiler-utils/node_modules/
/node_modules.bak/ajv/node_modules/
/node_modules.bak/anymatch/node_modules/
/node_modules.bak/assert/node_modules/
/node_modules.bak/autoprefixer/node_modules/
/node_modules.bak/babel-loader/node_modules/
/node_modules.bak/base/node_modules/
/node_modules.bak/body-parser/node_modules/
/node_modules.bak/bonjour/node_modules/
/node_modules.bak/braces/node_modules/
/node_modules.bak/cacache/node_modules/
/node_modules.bak/caniuse-api/node_modules/
/node_modules.bak/class-utils/node_modules/
/node_modules.bak/cliui/node_modules/
/node_modules.bak/compression/node_modules/
/node_modules.bak/connect/node_modules/
/node_modules.bak/copy-concurrently/node_modules/
/node_modules.bak/core-js-compat/node_modules/
/node_modules.bak/cosmiconfig/node_modules/
/node_modules.bak/create-hash/node_modules/
/node_modules.bak/create-hmac/node_modules/
/node_modules.bak/cross-env/node_modules/
/node_modules.bak/cross-spawn/node_modules/
/node_modules.bak/css-loader/node_modules/
/node_modules.bak/css-selector-tokenizer/node_modules/
/node_modules.bak/css-tree/node_modules/
/node_modules.bak/diffie-hellman/node_modules/
/node_modules.bak/engine.io-client/node_modules/
/node_modules.bak/execa/node_modules/
/node_modules.bak/expand-brackets/node_modules/
/node_modules.bak/express/node_modules/
/node_modules.bak/extglob/node_modules/
/node_modules.bak/extract-text-webpack-plugin/node_modules/
/node_modules.bak/fill-range/node_modules/
/node_modules.bak/finalhandler/node_modules/
/node_modules.bak/fsevents/node_modules/
/node_modules.bak/glob-parent/node_modules/
/node_modules.bak/global-prefix/node_modules/
/node_modules.bak/globby/node_modules/
/node_modules.bak/html-loader/node_modules/
/node_modules.bak/html-minifier/node_modules/
/node_modules.bak/http-errors/node_modules/
/node_modules.bak/imagemin/node_modules/
/node_modules.bak/invariant/node_modules/
/node_modules.bak/jest-worker/node_modules/
/node_modules.bak/js-yaml/node_modules/
/node_modules.bak/load-json-file/node_modules/
/node_modules.bak/localtunnel/node_modules/
/node_modules.bak/make-dir/node_modules/
/node_modules.bak/memory-fs/node_modules/
/node_modules.bak/move-concurrently/node_modules/
/node_modules.bak/node-libs-browser/node_modules/
/node_modules.bak/node-notifier/node_modules/
/node_modules.bak/optimize-css-assets-webpack-plugin/node_modules/
/node_modules.bak/pbkdf2/node_modules/
/node_modules.bak/portscanner/node_modules/
/node_modules.bak/postcss/node_modules/
/node_modules.bak/postcss-calc/node_modules/
/node_modules.bak/postcss-colormin/node_modules/
/node_modules.bak/postcss-convert-values/node_modules/
/node_modules.bak/postcss-merge-longhand/node_modules/
/node_modules.bak/postcss-merge-rules/node_modules/
/node_modules.bak/postcss-minify-font-values/node_modules/
/node_modules.bak/postcss-minify-gradients/node_modules/
/node_modules.bak/postcss-minify-params/node_modules/
/node_modules.bak/postcss-modules-local-by-default/node_modules/
/node_modules.bak/postcss-modules-scope/node_modules/
/node_modules.bak/postcss-normalize-display-values/node_modules/
/node_modules.bak/postcss-normalize-positions/node_modules/
/node_modules.bak/postcss-normalize-repeat-style/node_modules/
/node_modules.bak/postcss-normalize-string/node_modules/
/node_modules.bak/postcss-normalize-timing-functions/node_modules/
/node_modules.bak/postcss-normalize-unicode/node_modules/
/node_modules.bak/postcss-normalize-url/node_modules/
/node_modules.bak/postcss-normalize-whitespace/node_modules/
/node_modules.bak/postcss-ordered-values/node_modules/
/node_modules.bak/postcss-reduce-initial/node_modules/
/node_modules.bak/postcss-reduce-transforms/node_modules/
/node_modules.bak/postcss-svgo/node_modules/
/node_modules.bak/raw-body/node_modules/
/node_modules.bak/read-pkg/node_modules/
/node_modules.bak/read-pkg-up/node_modules/
/node_modules.bak/recast/node_modules/
/node_modules.bak/regexpu-core/node_modules/
/node_modules.bak/resp-modifier/node_modules/
/node_modules.bak/sass-loader/node_modules/
/node_modules.bak/send/node_modules/
/node_modules.bak/snapdragon/node_modules/
/node_modules.bak/socket.io-client/node_modules/
/node_modules.bak/sockjs/node_modules/
/node_modules.bak/source-map-resolve/node_modules/
/node_modules.bak/spdy/node_modules/
/node_modules.bak/svgo/node_modules/
/node_modules.bak/terser-webpack-plugin/node_modules/
/node_modules.bak/vue-loader/node_modules/
/node_modules.bak/webpack-log/node_modules/
/node_modules.bak/worker-farm/node_modules/